<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Latest compiled and minified CSS -->

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">


    <!-- skin -->
    <link rel="stylesheet" href="skin/default.css">
    <link rel="stylesheet" href="fonts/aha/stylesheet.css">

</head>
<body>

    <section class="container-fluid">
        <div class="navbar-fixed-top col-md-3 mar-top20">
            <div class="row">
                <h3 class="align-left">Districts of India</h3>


                <div class="navbar navbar-fixed-top mar-top40 col-md-4 col-md-offset-8">
                    <h2 style="font-family: ahamonomonospaced, sans-serif; background-color: transparent;">
                    <a  class="typewrite" data-period="3000" data-type='["Mapbox", "Neo4j","Node.js", "Bootstrap", "EJS"]'></a></h2>
                </div>
            </div>
        </div>
    </section>




    <section>
        <div class="container-fluid">
            <div id='map'></div>
        </div>

    </section>
<script>
console.log(
<% districts.forEach(function(district) { %>

  <%- JSON.stringify(district)%>.name,
<%})%>
);
</script>

    <section>
        <div class="container-fluid" style="background-color: transparent">
            <div class="navbar-fixed-bottom col-md-2 align-left">
                <h3>
                  <ul>

                  <% districts.forEach(function(district) { %>
                    <li> <%- JSON.parse( JSON.stringify(district.name))%> </li>
                  <%})%>
                </ul>
                </h3>
                <h3><button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="Pop">Population</button></h3><br>

            </div>
        </div>
    </section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="js/typeAnimate.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/mapLogic.js"></script>


</body>
